In [2]:
import pandas as pd             # data package
import matplotlib.pyplot as plt # graphics 
import datetime as dt
import numpy as np
from census import Census # This is new...

import requests, io             # internet and input tools  
import zipfile as zf            # zip file tools 
import os  

#import weightedcalcs as wc
#import numpy as np

import pyarrow as pa
import pyarrow.parquet as pq
 
from bokeh.palettes import brewer, Spectral6
from bokeh.io import show, output_file, curdoc
from bokeh.plotting import figure
from bokeh.models import ColumnDataSource, HoverTool, Panel, Tabs, GeoJSONDataSource, LinearColorMapper
from bokeh.models import ColorBar
from bokeh.layouts import column, gridplot, row
from bokeh.transform import factor_cmap
from bokeh.models import NumeralTickFormatter, Title, Label, Paragraph, Div, CustomJSHover, BoxAnnotation

This notebook plots Canadian Aluminum US imports (which were subject to renewed 232 actions recently), it can also be used as a template for product specific plots (like in this case). Some notes:

- This is a good place to see sequencing: https://www.cbp.gov/trade/programs-administration/trade-remedies#

- This is the initial time line Canada does not happen till later: https://content.govdelivery.com/accounts/USDHSCBP/bulletins/1e43e86

- Then Canada goes no line here June 1: https://content.govdelivery.com/accounts/USDHSCBP/bulletins/1f41b4b

- Canada tariff is taken off: https://content.govdelivery.com/accounts/USDHSCBP/bulletins/24602aa

- Tarfiff goes back on https://content.govdelivery.com/accounts/USDHSCBP/bulletins/29a1ddd

In [3]:
trade_type = "imports"

my_key = "&key=34e40301bda77077e24c859c6c6c0b721ad73fc7"
# This is my key. I'm nice and I have it posted. If you will be doing more with this
# please get your own key!

In [4]:
crl = ["darkblue","slategray","crimson"]

background = "#ffffff"

In [5]:
last_month = 8

---
#### Grabe the trade data using the Census's API

In [6]:
def census_trade(url, trade_type, country, product_level):
    
    r = requests.get(url) 
    
    print(r)
    
    df = pd.DataFrame(r.json()[1:]) # This then converts it to a dataframe
    # Note that the first entry is the labels

    df.columns = r.json()[0]

    df.time = pd.to_datetime(df.time, format="%Y-%m")
    # This is so I can call this correctly...
    
    if trade_type == "imports":
        
        trade_label = country + "_" + trade_type
        
        df[trade_label] = df["CON_VAL_MO"].astype(float)
        
        df[product_level] = df["NAICS"].astype(str)
        
        df.drop(["CON_VAL_MO", "NAICS", "COMM_LVL"], axis = 1, inplace = True)
        
    if trade_type == "exports":
    
        trade_label = country + "_" + trade_type
        
        df[trade_label] = df["ALL_VAL_MO"].astype(float)

        df[product_level] = df["NAICS"].astype(str)
        
        df.drop(["ALL_VAL_MO", "NAICS", "COMM_LVL"], axis = 1, inplace = True)
        
    if trade_type == "country_exports":
    
        trade_label = "total_exports"
        
        df[trade_label] = df["ALL_VAL_MO"].astype(float)
        
        df = df[df.SUMMARY_LVL == "DET"]
        
        df.drop(["ALL_VAL_MO", "CTY_CODE", "SUMMARY_LVL"], axis = 1, inplace = True)
        
        df = df[df.CTY_NAME != "TOTAL FOR ALL COUNTRIES"]
        
    if trade_type == "country_imports":
    
        trade_label = "total_imports"
        
        df[trade_label] = df["CON_VAL_MO"].astype(float)
        
        df = df[df.SUMMARY_LVL == "DET"]
        
        df.drop(["CON_VAL_MO", "CTY_CODE", "SUMMARY_LVL"], axis = 1, inplace = True)    
    
    return df

In [7]:
def growth_trade(foo):
    # what this function does is take a dataframe and create a relative 
    
    foo["growth"] = 100*((foo.total_imports/foo.total_imports.shift(12)) - 1)
    
    return foo

In [8]:
def make_trade_time(df):
        
    foo = df.drop(labels = ["naics"], axis = 1).reset_index().pivot(index = "time", columns = "NAICS_LDESC")
    
    foo.drop(labels = ["index"], axis = 1, inplace = True)
    
    return foo

---
### This is the Product Specific plot...

In [9]:
end_use = "naics?get=NAICS,CON_VAL_MO,CTY_CODE,CTY_NAME,SUMMARY_LVL,NAICS_LDESC"

url = "https://api.census.gov/data/timeseries/intltrade/imports/" + end_use 
url = url + my_key + "&time==from+2013-01" + "&COMM_LVL=NA4" + "&NAICS=3313"


# Here what will happen is the specific NAICS code is grabed, in this case it will
# be aluminum...

url = url

df = census_trade(url,"country_imports","foo", "foo")

df.time.max()

<Response [200]>

Timestamp('2020-07-01 00:00:00')

In [10]:
df.head()

,NAICS,CTY_NAME,NAICS_LDESC,time,COMM_LVL,NAICS,total_imports
0,3313,TOTAL FOR ALL COUNTRIES,ALUMINA AND ALUMINUM AND PROCESSING,2013-01-01,NA4,3313,9.852413e+08
1,3313,TOTAL FOR ALL COUNTRIES,ALUMINA AND ALUMINUM AND PROCESSING,2013-02-01,NA4,3313,8.859865e+08
2,3313,TOTAL FOR ALL COUNTRIES,ALUMINA AND ALUMINUM AND PROCESSING,2013-03-01,NA4,3313,1.056654e+09
3,3313,TOTAL FOR ALL COUNTRIES,ALUMINA AND ALUMINUM AND PROCESSING,2013-04-01,NA4,3313,1.067720e+09
4,3313,TOTAL FOR ALL COUNTRIES,ALUMINA AND ALUMINUM AND PROCESSING,2013-05-01,NA4,3313,1.100316e+09

In [11]:
df = df[["CTY_NAME","time","total_imports"]]

In [12]:
df.head()

                  CTY_NAME       time  total_imports
0  TOTAL FOR ALL COUNTRIES 2013-01-01   9.852413e+08
1  TOTAL FOR ALL COUNTRIES 2013-02-01   8.859865e+08
2  TOTAL FOR ALL COUNTRIES 2013-03-01   1.056654e+09
3  TOTAL FOR ALL COUNTRIES 2013-04-01   1.067720e+09
4  TOTAL FOR ALL COUNTRIES 2013-05-01   1.100316e+09

In [13]:
grp = df.groupby(["CTY_NAME"])

top_products = grp.agg({"total_imports":"sum"})

#clist = list(top_products.sort_values(by = "total_imports", ascending = False).index.values)[0:5]

clist = ["TOTAL FOR ALL COUNTRIES", "CANADA"]

df = df[df.CTY_NAME.isin(clist)]

In [14]:
grp = df.groupby(["CTY_NAME"])

country_df = grp.apply(growth_trade)

In [15]:
def make_trade_time_country(df):
        
    foo = df.reset_index().pivot(index = "time", columns = "CTY_NAME")
    
    foo.drop(labels = ["index"], axis = 1, inplace = True)
    
    return foo

In [16]:
test = make_trade_time_country(country_df)

In [17]:
test["total_imports"].drop([ "TOTAL FOR ALL COUNTRIES"], axis = 1)

CTY_NAME         CANADA
time
2013-01-01  484239884.0
2013-02-01  429279652.0
2013-03-01  569882599.0
2013-04-01  594498932.0
2013-05-01  566488698.0
...                 ...
2020-03-01  550127809.0
2020-04-01  482388469.0
2020-05-01  457336325.0
2020-06-01  445860782.0
2020-07-01  443491764.0

[91 rows x 1 columns]

In [21]:
def make_time_by_country(df, level):

    height = 533
    width = 600

    foobar = make_trade_time_country(df)
    
    if level == "total_imports":
        title = "$ US Imports from CANADA (NAICS 3313, ALUMINUM)"
        
        foobar.drop([ "TOTAL FOR ALL COUNTRIES"], axis = 1, level = 1, inplace = True)
    
    if level == "growth":
        title = "CANADA and TOTAL, % Year over Year Change in US Imports (NAICS 3313, ALUMINUM)"
    
    p = figure(plot_height=height, plot_width = width, x_axis_type="datetime",toolbar_location = 'below',
           tools = "box_zoom, reset, pan, xwheel_zoom", title = title, x_range = (dt.datetime(2015,1,1),dt.datetime(2020,last_month,1)) ) 

    numlines=len(foobar[level].columns)

    multi_line_source = ColumnDataSource({
        'xs': [foobar.index.values]*numlines,
        'ys': [foobar[level, name].values for name in foobar[level]],
        'label': [name for name in foobar["total_imports"].columns]})

    p.multi_line(xs= "xs",
                ys= "ys",
                line_width=2.5, line_alpha=0.45, line_color = "crimson",
                 hover_line_alpha=0.75, hover_line_width = 5,
                hover_line_color= "crimson", source = multi_line_source)
    
    y_custom = CustomJSHover(code=""" return '' + special_vars.data_y
            """)
            
    TIMETOOLTIPS = """
            <div style="background-color:#F5F5F5; opacity: 0.95; border: 5px 5px 5px 5px;">
            <div style = "text-align:left;">
            <span style="font-size: 13px; font-weight: bold"> @label
             </span>
             </div>
             <div style = "text-align:left;">"""
    
    if level == "total_imports":
        TIMETOOLTIPS = TIMETOOLTIPS + """
            <span style="font-size: 13px; font-weight: bold"> $data_x{%b %Y}:  $data_y{$0.0a}</span>   
            </div>
            </div>
            """
    if level == "growth":
        TIMETOOLTIPS = TIMETOOLTIPS + """
            <span style="font-size: 13px; font-weight: bold"> $data_x{%b %Y}:  $data_y{0.0}%</span>   
            </div>
            </div>
            """

    p.add_tools(HoverTool(tooltips = TIMETOOLTIPS,  line_policy='nearest', formatters={'$data_x': 'datetime'}))
    p.title.text_font_size = '13pt'
    p.background_fill_color = background 
    p.background_fill_alpha = 0.75
    p.border_fill_color = background 
    
    
    tariffs232_box = BoxAnnotation(left=dt.datetime(2018,5,31), right=dt.datetime(2019,5,20), fill_color='slategray', fill_alpha=0.1)
    p.add_layout(tariffs232_box)
    
    new_tariffs232_box = BoxAnnotation(left=dt.datetime(2020,8,16), right=dt.datetime(2020,12,31), fill_color='slategray', fill_alpha=0.1)
    p.add_layout(new_tariffs232_box)
    
    #p.yaxis.axis_label = 
    p.yaxis.axis_label_text_font_style = 'bold'
    p.yaxis.axis_label_text_font_size = "13px"

    p.yaxis.minor_tick_line_color = None
    
    if level == "total_imports":
        p.yaxis.formatter = NumeralTickFormatter(format="($0. a)")
        
    if level == "growth":
        p.y_range.end = 75
    
    p.outline_line_color = None
    p.sizing_mode= "scale_both"
    p.max_height = height
    p.max_width = width
    
    p.toolbar.active_drag = None
    p.toolbar.autohide = True
    p.min_border_left = 0
    p.min_border_bottom = 0

    return p

In [22]:
clevel = make_time_by_country(country_df, "total_imports")
    
cchange = make_time_by_country(country_df, "growth")

tab3 = Panel(child= clevel, title="Imports in $")

tab4 = Panel(child= cchange, title="Imports as % YoY")

output_file('.\\docs\\' + "us_imports_alu.html")

div0 = Div(text = """Shaded grey area indicates when the Section 232 tariffs, under Proclamation 9704, on Canada went into effect
and were removed. Hover over the line with your curser to view month by month values.""", max_width=555, background = background )
div0.sizing_mode= "scale_both"
        
outfig = column(Tabs(tabs=[tab3,  tab4], tabs_location = "above"), div0, sizing_mode="scale_both")

show(outfig)